      <!--set footer-->
      <footer class="sections bg-sec pt-5 mb-0">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <h3>Contact us</h3>
                    <div class="line"></div>
                    <p class="fw-bold">
                        Email : Info@azhar.edu.eg <br> العنوان / طريق النصر أمام قاعة المؤتمرات - مدينة نصر - القاهرة الرقم البريدي / 11751
                    </p>
                    <div class="line"></div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <h3> Alazhar services</h3>
                    <div class="line"></div>
                    <ul class="list-unstyled">
                        <li>
                            <a href="http://www.azhar.edu.eg/Contactus" target="_blank">Complaints and Suggestions</a>
                            <fa-icon class="ps-2 text-white" [icon]="faAngleDoubleRight"></fa-icon>

                        </li>
                        <div class="line"></div>
                        <li>
                            <a href="http://www.azhar.eg/" target="_blank">Alazhar</a>
                            <fa-icon class="ps-2 text-white" [icon]="faAngleDoubleRight"></fa-icon>
                        </li>
                        <div class="line"></div>
                        <li>
                            <a href="http://www.azhar.edu.eg/e-services" target="_blank"> Alazhar education</a>
                            <fa-icon class="ps-2 text-white" [icon]="faAngleDoubleRight"></fa-icon>
                        </li>
                        <div class="line"></div>
                        <li>
                            <a href="http://www.azhar.eg/sawtalazhar" target="_blank">sawt alazhar journal</a>
                            <fa-icon class="ps-2 text-white" [icon]="faAngleDoubleRight"></fa-icon>
                        </li>
                        <div class="line"></div>
                    </ul>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="contact-info">
                            <p class="copy-desc font-weight-bold">
                                All Copyright Are Reserved &copy; <br> By team of Graduates
                            </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--set footer-->