<section id="founds" *ngIf="founds" class="bg-primary py-5">
    <div class="container">
        <div class="search pb-5 bg-primary">
            <h3 class="text-center">Search In Founds</h3>
            <input type="text" [(ngModel)]="term" class="searchTerm" placeholder="" class="form-control w-50 m-auto">
        </div>
        <div class=" row found-items">
            <div style="height:30vh" class="text-center" *ngIf="founds.length == 0">
                <p class="fs-3 fw-bold">
                    No posts yet
                </p>
            </div>
            <div *ngFor="let post of founds.reverse() | filter: term" class="mb-4 col-md-6">
                <div class="post item rounded-3 shadow-lg">
                    <h3 class="text-center mb-2">
                        <a (click)="viewUserFound(post.foundBy._id)">
                            {{post.foundBy.firstName}} {{post.foundBy.lastName}}
                        </a>
                    </h3>

                    <p class="fs-3"><span class="fw-bold">found item: </span>{{post.title}}</p>
                    <p><span class="fw-bold">found at: </span> {{post.location}}</p>
                    <div class="buttons d-flex flex-md-row flex-sm-column justify-content-around">
                        <button [disabled]="getCurrentUser()==post.foundBy._id" style="width: 45%" class="btn btn-info"
                            routerLink="/found/mine/sendEmail/{{post._id}}">this {{post.title}} belongs to
                            me</button>
                        <button [disabled]="getCurrentUser()==post.foundBy._id" class="btn btn-danger"
                        (click)="report(post._id)" style="width: 45%">Report post</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="report position-fixed w-100 top-0 bottom-0 h-100" *ngIf="reportClicked">
        <div class="bg-black p-4 rounded-3">
            <div (click)="exit()" style="cursor: pointer;" class="text-end mb-2">
                <fa-icon class="text-white" [icon]="faX"></fa-icon>
            </div>
            <h2 class="text-center text-white pb-4">Are you sure you want to report this post?</h2>
            <form class="w-100" (ngSubmit)="reportFound(postClicked,reportForm)" [formGroup]="reportForm">
                <label class="text-white" for="reportComment">report comment:</label>
                <input type="text" id="reportComment" class="mt-1 mb-2 form-control" formControlName='reportComment'
                    placeholder="type the reason">
                <button [disabled]="reportForm.invalid" class="mt-1 btn btn-danger">submit</button>
                <div class="text-danger" *ngIf="error">
                    <fa-icon [icon]="faCircleExclamation"></fa-icon> {{error}}
                </div>
            </form>
        </div>
    </div>
</section>