.about{
    p,h1{
        color: #80662b;
    }
    .button{
        background-color: #00c851 !important;
        color: #fff;
    }
}
.card{
    height: 100%;
    img{
        object-fit: cover;
    }
}
fa-icon{
    color:#3f51b5 !important;
    margin-right: 1rem;
}