<section id="home-slider">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class=""><img src="../../assets/3.jpg" alt=""></div>
        </ng-template>
        <ng-template carouselSlide>
            <div class=""><img src="../../assets/2.jpg" alt=""></div>
        </ng-template>
        <ng-template carouselSlide>
            <div class=""><img src="../../assets/1.jpg" alt=""></div>
        </ng-template>
    </owl-carousel-o>
</section>

<section id="our-uni" class="bg-primary">
    <div class="container py-5">
        <div class="about">
            <h1 class="py-2 text-center">Al-Azhar University</h1>
            <p class="fs-5 text-center">Al-Azhar University is a public university in Cairo, Egypt. Associated with
                Al-Azhar Mosque in Islamic
                Cairo, it is Egypt's oldest degree-granting university and the world's second oldest degree granting
                university and is renowned as the most prestigious university for Islamic learning.</p>
            <div class="d-flex justify-content-center pt-4">
                <a href="https://en.wikipedia.org/wiki/Al-Azhar_University" class="btn button" target="_blank">Read
                    More</a>
            </div>
        </div>
    </div>
</section>

<section class="py-3 bg-primary">
    <h1 class="text-dark py-3 mb-3 bg-primary shadow-lg text-center">About Al-Azhar</h1>
    <div class="container about overflow-hidden">
        <div class="card-deck row mb-5 mt-2">
            <div class="col-lg-4 col-md-6 col-12 my-2 box-size ">
                <div class="card  my-card">
                    <!--Card image-->
                    <div class="view overlay">
                        <img class="card-img-top h-100" src="../../assets/11.jpg" alt="Card image cap">
                    </div>
                    <!--Card content-->
                    <div class="card-body text-center">
                        <!--Text-->
                        <p class="card-text text-lowercase">
                            AL-AZHAR UNIVERSITY SNATCHES 2020 ENACTUS WORLDCUP CHAMPIONSHIP
                        </p>
                        <a href="http://www.azhar.edu.eg/en/About-us/About-Us/al-azhar-university-snatches-2020-enactus-worldcup-championship"
                            target="_blank" class="btn btn-primary">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 my-2 box-size ">
                <div class="card  my-card">
                    <!--Card image-->
                    <div class="view overlay">
                        <img class="card-img-top h-100" src="../../assets/33.jpg" alt="Card image cap">
                    </div>
                    <!--Card content-->
                    <div class="card-body text-center">
                        <!--Text-->
                        <p class="card-text">Al-Azhar University launches fortnight-long book fair for students
                        </p>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <a href="https://dailynewsegypt.com/2020/11/11/al-azhar-university-launches-fortnight-long-book-fair-for-students/"
                            target="_blank" class="btn btn-primary">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 my-2 box-size ">
                <div class="card  my-card">
                    <!--Card image-->
                    <div class="view overlay">
                        <img class="card-img-top h-100" src="../../assets/44.jpeg" alt="Card image cap">
                    </div>
                    <!--Card content-->
                    <div class="card-body text-center">
                        <!--Text-->
                        <p class="card-text">Prof. Dr. Mohamed Al-Mahrasawy commends Indonesian students at Al-Azhar
                            University Faculties </p>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <a href="http://www.azhar.edu.eg/en/About-us/News-en/prof-dr-mohamed-al-mahrasawy-commends-indonesian-students-at-al-azhar-university-faculties"
                            target="_blank" class="btn btn-primary">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 my-2 box-size ">
                <div class="card  my-card">
                    <!--Card image-->
                    <div class="view overlay">
                        <img class="card-img-top h-100" src="../../assets/22.jpg" alt="Card image cap">
                    </div>
                    <!--Card content-->
                    <div class="card-body text-center">
                        <!--Text-->
                        <p class="card-text">
                            An international conference at Al-Azhar University on agriculture and future challenges next
                            April
                        </p>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <a href="http://www.azhar.edu.eg/en/About-us/About-Us/an-international-conference-at-al-azhar-university-on-agriculture-and-future-challenges-next-april"
                            target="_blank" class="btn btn-primary">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 my-2 box-size ">
                <div class="card  my-card">
                    <!--Card image-->
                    <div class="view overlay">
                        <img class="card-img-top h-100" src="../../assets/55.jpg" alt="Card image cap">
                    </div>
                    <!--Card content-->
                    <div class="card-body text-center">
                        <!--Text-->
                        <p class="card-text">The delegation of Al-Azhar University headed by "Amer" discusses aspects of
                            cooperation and scientific research and exchange of experiences with the President of the
                            University of Khartoum </p>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <a href="http://www.azhar.edu.eg/en/About-us/News-en/the-delegation-of-al-azhar-university-headed-by-amer-discusses-aspects-of-cooperation-and-scientific-research-and-exchange-of-experiences-with-the-president-of-the-university-of-khartoum-1"
                            target="_blank" class="btn btn-primary">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 my-2 box-size ">
                <div class="card  my-card">
                    <!--Card image-->
                    <div class="view overlay">
                        <img class="card-img-top h-100" src="../../assets/66.jpg" alt="Card image cap">
                    </div>
                    <!--Card content-->
                    <div class="card-body text-center">
                        <!--Text-->
                        <p class="card-text">Participants in the Third Pain Therapy Conference hail the efforts of
                            Al-Azhar medical professors
                        </p>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <a href="http://www.azhar.edu.eg/en/About-us/News-en/participants-in-the-third-pain-therapy-conference-hail-the-efforts-of-al-azhar-medical-professors-1" target="_blank" class="btn btn-primary">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="num" class="bg-lighter py-5">
    <div class="container">
        <div class="bg-lighter shadow-lg pb-5 pt-2">
            <h3 class="text-center py-5">Our Statistics</h3>
            <div class="row">
                <div class="col-lg-3 text-center col-6">
                    <h4 class="h1 font-weight-normal mb-3">
                        <fa-icon [icon]="faUniversity"></fa-icon>
                        <span class="d-inline-block count-up" data-from="0" data-to="250" data-time="2000">250</span>
                    </h4>
                    <p class="font-weight-normal text-muted">Faculties</p>
                </div>
                <div class="col-lg-3 text-center col-6">
                    <h4 class="h1 font-weight-normal mb-3">
                        <fa-icon [icon]="faUserGraduate"></fa-icon>
                        <span class="d-inline-block count-up" data-from="0" data-to="250" data-time="2000">250</span>
                    </h4>
                    <p class="font-weight-normal text-muted">Egyptian Students</p>
                </div>
                <div class="col-lg-3 text-center col-6">
                    <h4 class="h1 font-weight-normal mb-3">
                        <fa-icon [icon]="faGlobe"></fa-icon>
                        <span class="d-inline-block count-up" data-from="0" data-to="250" data-time="2000">250</span>
                    </h4>
                    <p class="font-weight-normal text-muted">Foreign Students</p>
                </div>
                <div class="col-lg-3 text-center col-6">
                    <h4 class="h1 font-weight-normal mb-3">
                        <fa-icon class="" [icon]="faChalkboardTeacher"></fa-icon>
                        <span class="d-inline-block count-up" data-from="0" data-to="250" data-time="2000">250</span>
                    </h4>
                    <p class="font-weight-normal text-muted">Teaching Staff</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-lighter py-5 m-auto text-center">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3453.199217325481!2d31.31207581482807!3d30.059823581876717!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583f5fbfdb10f9%3A0x5fa33ed996112843!2sAl-Azhar%20University!5e0!3m2!1sen!2seg!4v1657920792627!5m2!1sen!2seg"
        width="80%" height="500" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>